@media (max-width:1500px){
	.mission_slider .owl-prev, .mission_slider .owl-next {
		right: auto;
		left: 50%;
		bottom: -100px;
		top: auto;
	}
	.mission_slider .owl-prev {
		margin-top: 0px;
		margin-left: -50px;
	}
	.mission_slider .owl-next {
		margin-top: 0px;
	}
	.h_blog_text {
		padding: 0px 20px;
	}
	.h_blog_text h4 {
		font-size: 18px;
	}
}
@media (max-width:1300px){
	.header_area .navbar .nav .nav-item.submenu ul {
		left: auto;
		right: 0px;
	}
	.h_blog_text h4 {
		font-size: 16px;
		margin-bottom: 6px;
	}
	.h_blog_text p {
		font-size: 12px;
		line-height: 22px;
	}
}
@media (max-width:1199px){
	/* Main Menu Area css
	============================================================================================ */
	.header_area .navbar .nav .nav-item {
		margin-right: 28px;
	}
	/* End Main Menu Area css
	============================================================================================ */
	/* Home Banner Area css
	============================================================================================ */
	.home_banner_area .banner_inner {
		padding: 100px 0px;
	}
	/* End Home Banner Area css
	============================================================================================ */
	.mission_slider {
		max-width: 400px;
		margin-left: 0px;
		margin: auto;
	}
	.success_area .mission_text {
		float: none;
		margin-right: 0px;
		margin: auto;
	}
	.success_area .right_dir .mission_text {
		float: none;
		margin-left: 0px;
		margin: auto;
	}
	.h_blog_text {
		padding: 0px 15px;
	}
	.h_blog_text .cat {
		margin-bottom: 0px;
	}
	.portfolio_details_inner .portfolio_right_text {
		padding-left: 0px;
	}
}

@media (max-width:991px){
	/* Main Menu Area css
	============================================================================================ */
    .navbar-toggler {
        border: none;
        border-radius: 0px;
        padding: 0px;
        cursor: pointer;
        margin-top: 27px;
        margin-bottom: 23px;
    }
	.header_area .navbar {
		background: #fff;
	}
    .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
		opacity: 1;
	}
	.navbar-toggler[aria-expanded="true"] span:nth-child(2) {
		opacity: 0;
	}
	.navbar-toggler[aria-expanded="true"] span:first-child {
		transform: rotate(-45deg);
		position: relative;
		top: 7.5px;
	}
	.navbar-toggler[aria-expanded="true"] span:last-child {
		transform: rotate(45deg);
		bottom: 6px;
		position: relative;
	}
	.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
		line-height: 40px;
	}
	.navbar-toggler span{
		display: block;
		width: 25px;
		height: 3px;
		background: #a7cb00;
		margin: auto;
		margin-bottom: 4px;
		transition: all 400ms linear;
		cursor: pointer;
	}
	.header_area + section, .header_area + row, .header_area + div {
		margin-top: 71px;
	}
    .navbar .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav{
        padding: 0px 0px;
    }
    .header_top .nav{
        padding: 0px;
    }
    .header_area .navbar .nav .nav-item .nav-link{
        line-height: 40px;
        margin-right: 0px;
        display: block;
		border-bottom: 1px solid #ededed33;
		border-radius: 0px;
    }
    .header_area .navbar .search{
        margin-left: 0px;
    }
	.header_area .navbar-collapse{
		max-height: 340px;
		overflow-y: scroll;
	}
	.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
		padding: 0px 15px;
	}
	.header_area .navbar .nav .nav-item {
		margin-right: 0px;
	}
	.home_banner_area .banner_inner .banner_content .banner_map_img {
		display: none;
	}
	/* End Main Menu Area css
	============================================================================================ */
	/* Blog page Area css
	============================================================================================ */
	.categories_post img{
        width: 100%;
    }
	.categories_post {
		max-width: 360px;
		margin: 0 auto;
	}
	.blog_categorie_area .col-lg-4{
        margin-top: 30px;
    }
    .blog_area{
        padding-bottom: 80px;
    }
    .single-post-area .blog_right_sidebar{
        margin-top: 30px;
    }
	/* End Blog page Area css
	============================================================================================ */
	
	/* Contact Page Area css
	============================================================================================ */
	.contact_info{
		margin-bottom: 50px;
	}
	/* End Contact page Area css
	============================================================================================ */
	.home_banner_area .donation_inner{
		margin-bottom: -30px;
	}
	.home_banner_area .dontation_item{
		max-width: 350px;
		margin: auto;
	}
	/* Footer Area css
	============================================================================================ */
	.footer-area .col-sm-6{
		margin-bottom: 30px;
	}
	/* End End Footer Area css
	============================================================================================ */
	.header_area .navbar .nav.navbar-nav.navbar-right {
		display: none;
	}
	.mission_area .left_img img {
		width: 100%;
	}
	.mission_slider {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.mission_slider .owl-prev, .mission_slider .owl-next {
		bottom: 0px;
	}
	.success_area .mission_text {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.home_blog_area{
		max-width: 460px;
		margin: auto;
	}
	.h_blog_text .cat {
		margin-bottom: 8px;
	}
	.h_blog_text h4 {
		font-size: 24px;
		margin-bottom: 15px;
	}
	.h_blog_text p {
		font-size: 16px;
		line-height: 26px;
	}
	.h_blog_text {
		padding: 40px 15px;
	}
	
	
}